<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  API YoloGif
  <ul>
    <li>[POST] /api/gif/search</li>
    <li>[POST] /api/gif/multiple</li>
  </ul>
</div>

</body>
</html>
